@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

@keyframes tween {
    0% {
        rotate: 0deg;
    }
    33.3% {
        rotate: 1deg;
    }
    66.6% {
        rotate: -1deg;
    }
    100% {
        rotate: 0deg;
    } 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
  user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f3;
}

.container {
    width: 80%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-color: #eee;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    position: absolute;
    background: linear-gradient(to bottom right, #e8e8e8, #ddd);
}

.navigation {
    width: 100%;
    height: 15%;
    background-color: rgb(120, 120, 120);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation h1 {
    font-size: 3rem;
}

#calendar {
    transition: width 0.3s;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5rem;
}

.weekdays, #days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    text-align: center;
    gap: .5rem;
}

#days div {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1;
    transition: translate 0.3s, box-shadow 0.3s;
    background-color: #eee;
    border-radius: 2px;
}

#days div:hover {
    translate: -2% -2%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3), inset 2px 2px 5px rgb(255, 255, 255, 0.8);
    
}

#days div.fade {
    color: #bbb;
    cursor: default;
    translate: 0 0;
    box-shadow: none;
}

.selected {
    translate: -2% -2%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3), inset 2px 2px 5px rgb(255, 255, 255, 0.8);
    animation: tween ease-in-out 5s infinite;
}

#days div.today::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    aspect-ratio: 1;
    margin: .5rem;
    border-radius: 50%;
    background-color: hsl(196, 100%, 50%);
}

ion-icon {
    font-size: 3rem;
    cursor: pointer;
    margin: 0 1rem;
    background-color: transparent;
    transition: scale 0.3s, filter 0.3s;
}

ion-icon[name="arrow-forward"]:hover,
ion-icon[name="arrow-back"]:hover,
ion-icon[name="close"]:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.3));
}

#month-year {
    font-weight: bold;
    font-size: 2.2rem;
}

#events hr {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    border: none;
}

#events {
    display: block;
    transition: translate 0.3s;
    position: absolute;
    width: 30%;
    height: 85%;
    bottom: 0;
    right: 0;
    translate: 100% 0;
    background-color: white;
    overflow-x: hidden;
}

#day-number {
    margin-top: .25rem;
    margin-left: .25rem;
}

#distance {
    margin: 0 .25rem;
    translate: 0 -25%;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.8rem;
    margin: .5rem;
    border-radius: 0 0 0 15px;
}

#event-adder {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background-color: hsl(196, 100%, 89%);
    cursor: pointer;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    transition: scale 0.3s;
}

#event-adder:hover {
    scale: 1.05;
}

#overlay {
    display: none;
    opacity: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out;
}

#event-window {
    opacity: 0;
    z-index: 200;
    display: none;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    position: fixed;
    width: 60%;
    height: 75%;
    top: 55%;
    left: 50%;
    translate: -50% -50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

#event-window h1 {
    margin: 1rem;
    text-align: center;
}

#close-event {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3.5rem;
    margin: .5rem;
}

#events h2 {
    margin: .5rem;
}

#event-list {
    margin: 1.5rem;
    display: block;
}

ion-icon[name="trash-outline"] {
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    right: 0;
}
ion-icon[name="trash-outline"]:hover {
    color: red;
}

#days div.has-event::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    aspect-ratio: 1;
    margin: .5rem;
    border-radius: 50%;
    background-color: hsl(126, 100%, 50%);
}